#VSCode
.vscode/

# Dependencies
node_modules/

# Server Build
server/dist/
# Common Build
common/dist/
common/*.js
# Client Build
client/dist/

# Errors
yarn-error.log

# Environmental Variables
.env
